body{
   margin: -1%;
   font-family: 'Lato', sans-serif;
   background-color: navy;
}

/* Header/NAV CSS */
#navbar{
   position: fixed;
   width: 100%;
   background-color: whitesmoke;
   line-height: 100px;
   overflow: hidden;
   transition: 0.4s;
   top: 0;
   z-index: 99;

}
#me{
   float: left;
   width: 250px;
   margin-left: 50px;
   height: 100px;
   padding: 12px;
   line-height: 100px;
   border-radius: 4px;
   transition: 0.4s;
}
.navlist{
   float: right;
}
.navlist a{
   float: right;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   list-style-type: none;
}
.navlist a:hover{
   background: royalblue;
   color: navy;
}
/* Main content CSS. Under the NAV bar */
.content{
   margin-top: 210px;
   padding: 15px 15px 50px;
   padding-left: 50px;
   padding-right: 50px;
}
/* General article CSS */
section{
   margin-bottom: 20px;
   padding: 50px;
   /* background-image: linear-gradient(white, navy); */
   background-color: whitesmoke;
   padding-left: 30px;
   padding-right: 30px;
}

/* About Section CSS */
#about{
   margin-top: 25px;
}

/* Projects Section CSS */
#projects{
   height: 400px;
}
.column{
   width: 350px;
   float: left;
}

.column a{
   padding: 10px;
   text-align: center;
   text-decoration: none;
   list-style-type: none;
   color: whitesmoke;
   background-color: navy;
   border-radius: 9px 0px 9px 0px;
   border:1px solid blue;
}

/* Interests Section CSS */
#interests{
   height: 400px;
   color: whitesmoke;
}
.fun {
   float: left;
   width: 25%;
   text-align: center;
}
.fun p{
   font-size: 20px;
}
#fun1{
   width: 25%;
   height: 100%;
   background-image: url("space.jpg");
}
#fun2{
   width: 25%;
   height: 100%;
   background-image: url("gaming.jpg");
}
#fun3{
   width: 25%;
   height: 100%;
   background-image: url("writing.jpg");
}
#fun4{
   width: 25%;
   height: 100%;
   background-image: url("compass1.jpg");
}

/* Footer CSS */
.footer{
   height: 50px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   background-color: whitesmoke;
   color: navy;
}
.footer a{
   text-align: center;
   text-decoration: none;
   list-style-type: none;
   padding: 10px;
   color: navy;
   border-bottom: 1px solid navy;
}